<div class="container-fluid">
    <h1>KQUOTES</h1>
    <div class="row">
        <div class="col-md-4" *ngFor='let qoute of quotes; let i = index'>
            <div class="card text-center">
                <div class="card-header">
                    {{qoute.id}}. {{qoute.author}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">POSTED BY: {{qoute.user}}</h5>
                    <p class="card-text"> {{qoute.state}}</p>
                    <div class="buttons">
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-outline-warning" (click)=' likes(i)'>LIKE {{qoute.likes}}</button>
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-outline-secondary" (click)=' unlikes(i)'>UNLIKE {{qoute.unlikes}}</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-outline-danger" (click)='deleteQuote($event,i)'>DEL</button>

                            </div>
                        </div>
                        <br>
                        <div class="card-footer text-muted">
                            {{qoute.day}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <app-quote-form (addquote)="addNewQuote($event)" style="text-align: center;"></app-quote-form>

            </div>
        </div>

        <div class="col-md-4">
            <div>
                <button type="button" class="btn btn-outline-warning" (click)="bestQuote()">Favorite Quote</button>
            </div>

            <div class="card text-center">
                <div class="card-header">
                    {{author}}
                </div>
                <div class="card-body" *ngIf='quote'>
                    <h5 class="card-title">POSTED BY: {{user}} </h5>
                    <p class="card-text">{{quote}}</p>
                    <span class="btn btn-primary">{{best}}</span>
                    <span class="btn btn-primary">{{worst}}</span>
                </div>
                <div class="card-footer text-muted">
                    {{postedon }}
                </div>
            </div>
        </div>
    </div>
</div>