<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" *ngFor='let qoute of quotes; let i = index'>
            <div class="card text-center">
                <div class="card-header">
                    {{qoute.id}}. {{qoute.author}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">POSTED BY: {{qoute.user}}</h5>
                    <p class="card-text"> {{qoute.state}}</p>
                    <div class="buttons">
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-outline-warning" (click)=' likes(i)'>LIKE {{qoute.likes}}</button>
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-outline-secondary" (click)=' unlikes(i)'>UNLIKE {{qoute.unlikes}}</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-outline-danger" (click)='deleteQuote($event,i)'>DEL</button>

                            </div>
                        </div>
                        <br>
                        <div class="card-footer text-muted">
                            {{qoute.day}}
                        </div>
                    </div>
                </div>
            </div>
        </div>