.jumbotron {
    background: rgba(19, 15, 32, 1);
    color: #fff;
}

.home h1 {
    text-align: center;
    font-family: lekam;
    color: #092C4E;
    margin-top: 100px;
}

.home,
#take {
    background-image: url("src/assets/quote2.jpeg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@font-face {
    src: url("src/assets/DancingScript-Bold.ttf");
    font-family: lekam;
}

#posts {
    margin-top: 60px;
}