<div class="container-fluid">
    <h2 class="text-center">SHARE WITH KQUOTES</h2>
    <hr>
    <form #goalForm='ngForm'>
        <div class="form-group">

            <label for="author">AUTHOR</label>
            <input type="text" required class="form-control" id="author">

        </div>
        <div class="form-group">

            <label for="quote">QOUTE</label>
            <textarea class="form-control" id="quote" rows="4" required></textarea>

        </div>
        <div class="form-group">

            <label for="postedby">YOUR NAME</label>
            <input type="text" required class="form-control" id="postedby">

        </div>
        <div class="form-group">
            <label for="post">POSTED ON</label>
            <input type='date' id="post" required>

        </div>
    </form>
</div>